@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>WorkerCRUD APP test: <a asp-area="" asp-controller="Workers" asp-action="Index">List Workers</a></p>
</div>
